.header {
  background: var(--gray-800);
  padding: 1.25rem 0;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  height: 3rem;
  padding-right: 0.25rem;
}

span {
  color: var(--yellow-700);
}
